.container{
    display:grid;
    grid-template-columns:repeat(4,auto);
    gap:2rem;
  }
  .card{
    border: 2px solid black;
    padding:1rem;
    padding-bottom:2rem;
    display:grid;
    grid-template-rows:repeat(5,auto);
    place-items:center;
  }
  .input{
    justify-self:start;
  }